.input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      outline: 2px solid hsla(var(--secondary) / 50%);
      outline-offset: 2px;
      background: hsl(var(--secondary));
    }
    &::-moz-range-thumb {
      outline: 2px solid hsla(var(--secondary) / 50%);
      outline-offset: 2px;
      background: hsl(var(--secondary));
    }
  }

  &::-webkit-slider-runnable-track {
    background: hsla(var(--muted) / 20%);
    height: 10px;
  }
  &::-moz-range-track {
    background: hsla(var(--muted) / 20%);
    height: 10px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0;
    background: hsl(var(--foreground));
    height: 10px;
    width: 4px;
  }
  &::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background: hsl(var(--foreground));
    height: 10px;
    width: 4px;
  }
}
