.card {
  :global(.bg-shadow-2px) {
    box-shadow: 0 0 0 2px hsl(var(--card)) !important;
  }

  &:hover {
    :global(.bg-shadow-2px) {
      box-shadow: 0 0 0 2px #0f1729 !important; // background + 10% muted
    }
  }
}
